@page "/enumdropdowndemo"
@using Sabatex.RadzenBlazor

<h3>EnumDropDown</h3>
<RadzenText>Enum DropDown bind to Models.DaysOfWeek</RadzenText>
<SabatexEnumDropDown TEnum="Models.DaysOfWeek"  @bind-Value="dayOfWeek" Placeholder="Select day of week" />

<RadzenText>Enum DropDown bind to Models.DaysOfWeek?</RadzenText>
<SabatexEnumDropDown TEnum="Models.DaysOfWeek?" @bind-Value="dayOfWeekNulable" Placeholder="Select day of week" />

@code {
    Models.DaysOfWeek? dayOfWeekNulable;
    Models.DaysOfWeek dayOfWeek = Models.DaysOfWeek.Sunday;
}
