@page "/Account/Manage/PushSubscription"

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<h3>PushSubscription</h3>

@code {
    record Subscription(int SubsciptionType,string Name,bool Active);
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        




    }



}
